[submodule "core/src/main/c/share/jemalloc"]
	path = core/src/main/c/share/jemalloc
	url = https://github.com/questdb/jemalloc.git
[submodule "core/src/main/c/share/simdjson"]
	path = core/src/main/c/share/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "core/rust/qdbr/parquet2/testing/parquet-testing"]
	path = core/rust/qdbr/parquet2/testing/parquet-testing
	url = https://github.com/apache/parquet-testing/
[submodule "core/src/main/c/share/zlib"]
	path = core/src/main/c/share/zlib
	url = https://github.com/madler/zlib/
[submodule "core/src/main/c/share/async-profiler"]
	path = core/src/main/c/share/async-profiler
	url = https://github.com/async-profiler/async-profiler.git
	shallow = true
