.DS_Store
*.iml
*.log
.idea
.ignore
out
benchmarks/target
core/target
utils/target
utils/dependency-reduced-pom.xml
examples/target
compat/target
core/node
core/src/main/resources/io/questdb/site/public.zip
deploy*.bat
win64svc/cmake-build-debug
win64svc/build
win64svc/CMakeCache.txt
win64svc/cmake-build-release
core/src/main/resources/io/questdb/bin/linux/libasm.a
core/questdb/bin-local
core/cmake-build-debug
core/cmake-build-debug-coverage
core/cmake-build-release
core/cmake-build-minsizerel
core/CMakeCache.txt
**/.project
**/.settings
**/.classpath
**/build
**/CMakeFiles
.envrc
.vscode
core/rust/qdbr/target
compat/src/test/rust/scenarios/target/
compat/src/test/rust/scenarios/Cargo.lock