<div class="js-sql-panel">
  <div class="console-wrapper">
    <div id="schema-content"></div>
    <div id="console-top">
      <div class="menu-bar">
        <button class="run js-query-run button-primary button-success">
          <i class="fa fa-play"></i>
          <span>Run</span>
        </button>

        <div class="flex-separator"></div>

        <input
          class="js-help-input"
          id="help-input"
          placeholder="Search documentation..."
          title="Search..."
          type="text"
        />
      </div>

      <div id="editor">
        <div id="sqlEditor" class="editor"></div>
        <div class="query-progress-spinner js-query-spinner"></div>
        <div class="query-message js-query-message-panel">
          -
        </div>
      </div>
    </div>
  </div>
  <div id="console-splitter" class="splitter"></div>

  <div class="result-wrapper">
    <div class="menu-bar">
      <button id="js-toggle-grid" class="active button-toggle">
        <i class="fa fa-bars"></i>
        <span>Grid</span>
      </button>

      <button id="js-toggle-chart" class="button-toggle">
        <i class="fa fa-chart-pie"></i>
        <span>Chart</span>
      </button>

      <div class="flex-separator"></div>

      <button class="js-query-refresh button-primary">
        <i class="fa fa-sync"></i>
      </button>

      <button class="js-query-export button-primary">
        <i class="fa fa-download"></i>
        <span>CSV</span>
      </button>
    </div>

    <div id="grid">
      <div class="qg-header-row"></div>
      <div class="qg-viewport">
        <div class="qg-canvas"></div>
      </div>
    </div>
    {{> quick-vis}}
  </div>
</div>
