<div class="js-sql-panel">
  <div class="console-wrapper" id="editor"></div>

  <div id="console-splitter" class="splitter">
    <svg viewBox="0 0 24 24" height="12px" width="12px" aria-hidden="true" focusable="false" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="sc-AxjAm gXIMwt Splitter__DragIcon-kWuanA jGdWIe"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M11 18c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm-2-8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path></svg>
  </div>

  <div class="result-wrapper">
    <div class="menu-bar">
      <button id="js-toggle-grid" class="active button-toggle">
        <i class="fa fa-bars"></i>
        <span>Grid</span>
      </button>

      <button id="js-toggle-chart" class="button-toggle">
        <i class="fa fa-chart-pie"></i>
        <span>Chart</span>
      </button>

      <div class="flex-separator"></div>

      <button class="js-query-refresh button-primary">
        <i class="fa fa-sync"></i>
      </button>

      <button class="js-query-export button-primary">
        <i class="fa fa-download"></i>
        <span>CSV</span>
      </button>
    </div>

    <div id="grid">
      <div class="qg-header-row"></div>
      <div class="qg-viewport">
        <div class="qg-canvas"></div>
      </div>
    </div>

    <div id="quick-vis">
      <div class="quick-vis-controls">
        <form class="v-fit" role="form">
          <div class="form-group">
            <label>Chart type</label>
            <select id="_qvis_frm_chart_type">
              <option>bar</option>
              <option>line</option>
              <option>area</option>
            </select>
          </div>
          <div class="form-group">
            <label>Labels</label>
            <select id="_qvis_frm_axis_x"></select>
          </div>
          <div class="form-group">
            <label>Series</label>
            <select id="_qvis_frm_axis_y" multiple></select>
          </div>
          <button class="button-primary js-chart-draw" id="_qvis_frm_draw">
            <i class="fa fa-play"></i>
            <span>Draw</span>
          </button>
        </form>
      </div>
      <div class="quick-vis-canvas"></div>
    </div>
  </div>
</div>
