<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <div class="logo-element">
                <a href="https://questdb.io" target="_blank">
                  <img src="/assets/images/logo.png" style="max-height: 30px;">
                </a>
            </div>
            <li>
              <a id="nav-console" class="selected" href="#">
                <i class="fa fa-code"></i>
              </a>
              <a id="nav-import" href="#">
                <i class="fa fa-upload"></i>
              </a>
            </li>
        </ul>
    </div>
</nav>
