<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="logo-element">
                    <img src="/assets/images/logo.png" style="max-height: 30px;">
                </div>
            </li>
            <li>
              <a id="nav-console" href="#">
                <i class="fa fa-code"></i>
              </a>
            </li>
            <li>
              <a id="nav-import" href="#">
                <i class="fa fa-upload"></i>
              </a>
            </li>
        </ul>
    </div>
</nav>
