<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script async src="https://www.googletagmanager.com/gtag/js?id=GTM-PVR7M2G"></script>
    <script>
      window.dataLayer = window.dataLayer || []
      window.dataLayer.push({
        'gtm.start': new Date().getTime(),
        event: "gtm.js"
      })
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuestDB · Console</title>
</head>

<body class="mini-navbar pace-done">
    <div id="root"></div>

    <div id="page-wrapper" class="gray-bg">

        {{> partials/console}}
        {{> partials/import}}
    </div>

    <div id="footer"></div>
</body>
</html>
