<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" href="/asssets/favicon.ico">
    <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuestDB · Console</title>
</head>

<body class="mini-navbar pace-done">
    <div id="root"></div>

    <div id="page-wrapper" class="gray-bg">
        <div class="js-sql-panel" id="console"></div>
        {{> partials/import}}
        <div class="js-settings-panel" id="settings"></div>
    </div>

    <div id="notifications"></div>
    <div id="sideMenu"></div>
    <div id="modal"></div>
</body>
</html>
