[Unit]
Description=QuestDB
Documentation=https://www.questdb.io/docs/introduction
After=network.target
RequiresMountsFor=/var/lib/questdb

[Service]
Type=simple
Restart=always
RestartSec=2
LimitNOFILE=134217728
User=questdb
Group=questdb
Environment=QDB_PACKAGE=ami-market
ExecStartPre=+/bin/bash -c 'chown questdb:questdb -R /var/lib/questdb'
ExecStart=/usr/bin/java \
    --add-exports java.base/jdk.internal.math=io.questdb \
    -p /usr/local/bin/questdb.jar \
    -m io.questdb/io.questdb.ServerMain \
    -DQuestDB-Runtime-66535 \
    -ea -Dnoebug \
    -XX:+UnlockExperimentalVMOptions \
    -XX:+AlwaysPreTouch \
    -XX:+UseParallelGC \
    -d /var/lib/questdb
ExecReload=/bin/kill -s HUP $MAINPID
# Prevent writes to /usr, /boot, and /etc
ProtectSystem=full
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=questdb

[Install]
WantedBy=multi-user.target
