[Unit]
Description=QuestDB
Documentation=https://www.questdb.io/docs/introduction
Wants=network-online.target
After=network-online.target
RequiresMountsFor=/var/lib/questdb

[Service]
Type=exec
Restart=always
RestartSec=2
User=questdb
Group=questdb

# Resource limits
LimitNOFILE=infinity
TasksMax=infinity

Environment=QDB_PACKAGE=ami-market
ExecStart=/usr/bin/java \
    -XX:+UnlockExperimentalVMOptions \
    -XX:+AlwaysPreTouch \
    -XX:+UseParallelGC \
    -DQuestDB-Runtime-66535 \
    -ea -Dnoebug \
    --sun-misc-unsafe-memory-access=allow \
    --enable-native-access=io.questdb \
    --add-opens=java.base/java.lang=io.questdb \
    --add-opens=java.base/java.lang.reflect=io.questdb \
    --add-opens=java.base/java.nio=io.questdb \
    --add-opens=java.base/java.time.zone=io.questdb \
    --add-exports=java.base/jdk.internal.math=io.questdb \
    --add-exports=java.base/jdk.internal.vm=io.questdb \
    -p /usr/local/bin/questdb.jar \
    -m io.questdb/io.questdb.ServerMain \
    -d /var/lib/questdb
ExecReload=/bin/kill -s HUP $MAINPID

# Prevent writes to /usr, /boot, and /etc
ProtectSystem=full
StandardOutput=journal
StandardError=journal
SyslogIdentifier=questdb

[Install]
WantedBy=multi-user.target
