.series-list .list-simple.mt-list-head {
  padding: 15px;
}

.bg-green-sharp {
  background: #2ab4c0 !important;
}

.series-list .list-simple.mt-list-head .list-date {
  font-size: 12px;
  opacity: .8;
  float: right;
  width: 75px;
}

.series-list .list-simple.mt-list-head .list-title {
  margin: 0;
  padding-right: 85px;
}

.series-list .list-simple.ext-1.mt-list-container {
  padding: 0;
}

.series-list .list-simple.mt-list-container {
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #e7ecf1;
  padding: 15px;
}

.series-list .list-simple.mt-list-container ul {
  margin-bottom: 0;
  padding: 0;
}

.series-list .list-simple.ext-1.mt-list-container ul > .mt-list-item.done {
  border-color: #26C281 #26C281 #e7ecf1;
}

.series-list .list-simple.ext-1.mt-list-container ul > .mt-list-item {
  padding: 15px;
  border-left: 3px solid;
  border-color: #34495e #34495e #e7ecf1;
}

.series-list .list-simple.mt-list-container ul > .mt-list-item:first-child {
  padding-top: 0;
}

.series-list .list-simple.mt-list-container ul > .mt-list-item {
  list-style: none;
  border-bottom: 1px solid;
  border-color: #e7ecf1;
  padding: 15px 0;
}

.series-list .list-simple.mt-list-container ul > .mt-list-item > .list-icon-container {
  font-size: 14px;
  float: left;
}

.series-list .list-simple.mt-list-container ul > .mt-list-item > .list-datetime {
  text-align: right;
  float: right;
  width: 60px;
}

.series-list .list-simple.mt-list-container ul > .mt-list-item > .list-item-content {
  padding: 0 75px 0 60px;
}

.series-list .list-simple.mt-list-container ul > .mt-list-item > .list-item-content > h3 {
  margin: 0;
  font-size: 18px;
}

.series-list .list-simple.mt-list-container ul > .mt-list-item > .list-item-content > h3 > a {
  color: #34495e;
}

//todo: remove all of the above
#vis-btn-add-series, #vis-btn-delete-series {
  float: right;
  position: relative;
  top: -10px;
}