.portlet {
  padding: 12px 20px 15px;
  border: 1px solid #e7ecf1 !important;
}

.portlet-title {
  padding: 10px 0;
  border-bottom: 1px solid #eef1f5;
  margin-bottom: 20px;
  font-size: 16px;
  color: #2f353b !important;
}
