name: PGWire - Latest clients
# Testing PGWire with the latest versions of clients
# So we are notified of any issues with just released versions
# It's intentionally not triggered on every PR since we do not want
# CI to fail if a new version of a client is released and it's not compatible
# Instead, we want to be notified asynchronously, e.g. via Slack

on:
  schedule:
    - cron: "5 0 * * *"
  workflow_dispatch:

jobs:
  build:
    if: ${{ github.event.pull_request.head.repo.full_name == github.repository }} # Only run on non-forked PRs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
      - name: Build distribution
        run: mvn -B clean install -Dmaven.test.skip=true -Pbuild-binaries -pl '!benchmarks'
      - name: Unpack distribution
        run: tar -xzf core/target/questdb-*-no-jre-bin.tar.gz
      - name: Start QuestDB
        run: ./questdb-*bin/questdb.sh start
      - name: Setup Rust toolchain
        # 4d1965c9142484e48d40c19de54b5cba84953a06 is the same as @v1, except it's guaranteed to be immutable
        # even if the original tag is moved or deleted
        uses: actions-rust-lang/setup-rust-toolchain@4d1965c9142484e48d40c19de54b5cba84953a06
        with:
          toolchain: 1.90.0
          cache-workspaces: compat/src/test/rust/scenarios
      - name: Setup Python version
        uses: actions/setup-python@v5
        with:
          python-version: 3
      - name: Run all scenarios
        run: |
          ./compat/src/test/scenarios_latest.sh
      - name: Stop QuestDB
        run: ./questdb-*bin/questdb.sh stop
